<header class="bg-gray-800 text-white p-4 flex items-center justify-between shadow-lg z-30 fixed top-0 w-full">

    <div class="flex items-center">

        <button (click)="onToggleMenu()" aria-label="Abrir e fechar menu lateral" [attr.aria-expanded]="isMenuOpen"
            class="p-2 focus:outline-none focus:ring-2 focus:ring-indigo-400 rounded transition-colors duration-150 relative z-50">
            <div [ngClass]="{'open': isMenuOpen}" class="hamburger-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>

        <h1 class="font-bold text-xl ml-4">{{ 'HEADER.TITLE' | translate }}</h1>

    </div>

    <nav class="hidden md:flex items-center gap-4">
        <app-button
            [text]="'HEADER.NEW_DEX_BUTTON' | translate"
            (clickEvent)="navigateTo('/')"
            variant="secondary"
        ></app-button>

        <app-button
            [text]="'HEADER.NEW_SET_BUTTON' | translate"
            (clickEvent)="navigateTo('/')"
            variant="secondary"
        ></app-button>
        
        <app-button
            [text]="'HEADER.LOGIN_BUTTON' | translate"
            (clickEvent)="navigateTo('/login')"
            variant="primary"
        ></app-button>
    </nav>
</header>