<div class="text-center p-8 bg-gray-100 flex flex-col items-center justify-center">
  <h1 class="text-4xl font-bold mb-4">
    {{ 'HOME_PAGE.TITLE' | translate }}
  </h1>
  <p class="text-lg text-gray-600">
    {{ 'HOME_PAGE.SUBTITLE' | translate }}
  </p>

  <div class="mt-8 p-6 bg-white rounded-lg shadow-md max-w-md mx-auto">
    <h2 class="text-xl font-semibold mb-4">Status da Conexão com a API</h2>

    <div *ngIf="healthStatus === 'connecting'" class="text-blue-500">
      <p>Conectando...</p>
    </div>

    <div *ngIf="healthStatus === 'healthy' && backendResponse" class="text-green-600">
      <p class="font-bold">Conexão estabelecida com sucesso!</p>
      <p class="text-sm">Status do Banco de Dados: {{ backendResponse.entries['MySQL Database'].status }}</p>
    </div>

    <div *ngIf="healthStatus === 'unhealthy'" class="text-red-600">
      <p class="font-bold">Falha na Conexão</p>
      <p class="text-sm">{{ errorMessage }}</p>
    </div>

  </div>
</div>